@font-face {
	font-family: "Staatliches";
	src: url("./../assets/Staatliches-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("./../assets/Poppins-Regular.ttf");
}

$rosewater: #f2d5cf;
$flamingo: #eebebe;
$pink: #f4b8e4;
$mauve: #ca9ee6;
$red: #e78284;
$maroon: #ea999c;
$peach: #ef9f76;
$yellow: #e5c890;
$green: #a6d189;
$teal: #81c8be;
$sky: #99d1db;
$sapphire: #85c1dc;
$blue: #8caaee;
$lavender: #babbf1;
$text: #c6d0f5;
$subtext1: #b5bfe2;
$subtext0: #a5adce;
$overlay2: #949cbb;
$overlay1: #838ba7;
$overlay0: #737994;
$surface2: #626880;
$surface1: #51576d;
$surface0: #414559;
$base: #303446;
$mantle: #292c3c;
$crust: #232634;

html,
body {
	font-family: "Poppins", sans-serif;

	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0;

	display: flex;
	flex-direction: column;
	.container {
		overflow: hidden;
		.message-container {
			background-color: $base;
			color: $text;
			padding: 8px;
			margin: 8px;
			border-radius: 4px;

			animation: message 10s ease-in-out;
			.author {
				color: $subtext0;
				font-size: 0.8rem;
			}
		}
	}
}

//animation for the messae pop up
@keyframes message {
	0% {
		transform: translateY(-200%);
	}
	10% {
		transform: translateY(0%);
	}
	95% {
		opacity: 1;
		transform: scaleY(1);
	}
	100% {
		opacity: 0;
		transform: scaleY(0);
	}
}
