@import "theme.scss";

body,
html {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

#root {
	height: 100%;
}

body:has(.message-render) {
	background-color: black;
}
body:has(.guest),
body:has(.host) {
	background-color: $base;
}
