@font-face {
	font-family: "Poppins";
	src: url("../assets/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Staatliches";
	src: url("../assets/Staatliches-Regular.ttf");
}

$base: #303446;
$text: #4c4f69;
$bubble: #075e54;
$mantle: #292c3c;
$blue: #8caaee;
