@font-face {
	font-family: "Staatliches";
	src: url("./../assets/Staatliches-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("./../assets/Poppins-Regular.ttf");
}

$rosewater: #f2d5cf;
$flamingo: #eebebe;
$pink: #f4b8e4;
$mauve: #ca9ee6;
$red: #e78284;
$maroon: #ea999c;
$peach: #ef9f76;
$yellow: #e5c890;
$green: #a6d189;
$teal: #81c8be;
$sky: #99d1db;
$sapphire: #85c1dc;
$blue: #8caaee;
$lavender: #babbf1;
$text: #c6d0f5;
$subtext1: #b5bfe2;
$subtext0: #a5adce;
$overlay2: #949cbb;
$overlay1: #838ba7;
$overlay0: #737994;
$surface2: #626880;
$surface1: #51576d;
$surface0: #414559;
$base: #303446;
$mantle: #292c3c;
$crust: #232634;

body {
	background-color: $base;
	color: $text;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 3rem;
	font-family: "Poppins", sans-serif;
	h1 {
		font-family: "Staatliches", sans-serif;
		font-size: 4rem;
	}
	.input {
		font-family: "Poppins", sans-serif;
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		overflow: hidden;
		max-width: 32em;
		textarea {
			background-color: $mantle;
			border: $crust;
			color: $text;
			font-family: "Poppins", sans-serif;
			padding: 8px;
			width: 100%;
			&::placeholder {
				color: $subtext0;
			}
		}
		input[type="text"] {
			font-size: 1rem;
			background-color: $mantle;
			outline: none;
			border: none;
			color: $base;
			padding: 8px;
			color: $text;
			&::placeholder {
				color: $subtext0;
			}
		}
		input[type="button"] {
			font-size: 1rem;
			background-color: $blue;
			outline: none;
			border: none;
			color: $base;
			padding: 8px;
			cursor: pointer;
			transition: 0.1s;
			&:hover {
				background-color: $sapphire;
			}
		}
	}
	.proposed-messages {
		display: flex;
		.message {
			background-color: $mantle;
			border: $crust;
			color: $text;
			font-family: "Poppins", sans-serif;
			padding: 8px;
			width: 100%;
			margin: 8px;
		}
	}
}
